/* Minimal scrollbar styles */
.minimal-scrollbar::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 4px !important;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(63, 65, 66, 0.4) !important;
  border-radius: 4px !important;
  border: none !important;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(61, 62, 63, 0.7) !important;
}

.minimal-scrollbar::-webkit-scrollbar-corner {
  background: transparent !important;
}

/* For Firefox */
.minimal-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(70, 71, 72, 0.4) transparent !important;
}
